.cookiewrapper {
  background: #008489;
  color: #ffffff;
  position: relative;
}

.cookiewrapper a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.cookiewrapper a:hover {
  color: #f0f0f0;
}

.left-boarder {
  border-left: 1px solid;
  border-color: #dbdbdb;
}

@media (max-width: 576px) {
  .cc-message {
    font-size: 0.75rem !important;
  }
  .compliance {
    font-size: 0.75rem !important;
  }

  .cc-link {
    font-size: 0.75rem !important;
  }
}
